* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #343332;
    /* outline: 2px solid red; */
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }

  body::-webkit-scrollbar{
    display: none;
  }
  .nav-container{
    display: flex;
   justify-content: space-between;
   position: sticky;
   top:0;
   z-index: 10;
   background-color: #fff;

  }
  nav {
    display: flex;
    text-transform: uppercase;
    width: 100%;
    padding-left: 20px;
    align-items: center;
   
  }
  .img-smll{
    display: none;
  }
  
  .nav_img img {
    width: 100%;
    object-fit: cover;
  }

  .nav-list{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #676564;
  }
  
  .header_items {
    display: flex;
    width: 75%;
    text-align: center;
    justify-content: flex-end;
  }

  .header_items .header_item{
    width: 15%;
    position: relative;
  }
  
  .header_items li , .header_cta_item {
    padding: 20px 0;
  }
  .header_items .header_item a{
    color: #9e9d9c;
    letter-spacing: 3px;
    font-size: 15px;
  }
  .header_item::after {
    content: '';
    position: absolute;
    background-color: #c2c2bf;
    color: #464646;
    right: 0;
    height: 50%;
    width: 0.5px;
  }

 
  /* .header_item:last-child::after{
    display: none;
  } */

  .header_items li:hover{
    background-color: #dcdad0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .header_items li:hover::after {
    content: '';
    position: absolute;
    background-color: #fedb00;
    color: #464646;
    top: 0;
    height: 3px;
    width: 100%
  }
  .header_cta{
    display: flex;
    align-items: center;
    width:25%;
    text-align: center;
    justify-content: flex-end;
  }

  .header_cta_item {
    width: 40%;
    letter-spacing: 2px;
    font-size: 15px;
  }

  .header_cta_item:hover{
    background-color: #ecdd78;
  }
  .header_cta .booking{
    width: 60%;
    background-color: #fedb00;
  }
  .header_item:hover {
    background-color: #e4e4dd;
    color: #464646;
    border-top: 5px solid #fedb00;
  }
  

  .banner{
    background: url('./images/banner.jpg');
   background-repeat: no-repeat;
   background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .banner p{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
  }

  .about-info{
    padding: 6% 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #F7F7EF;
    color: #000;

  }
  .about-info h3{
    letter-spacing: 5px;
    color: #5d5858;
    font-size: 20px;
    font-weight: 400;
  }
  .about-info h4{
    letter-spacing: 3px;
    color: #5d5858;
    font-size: 18px;
    font-weight: 400;
  }
  .detail{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #494A8B;
  }

  .about-cards{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0 -70px ;
    margin-top: 1%;
  }

  .card{
  display: flex;
  flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .card p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }
  .card img{
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .card-2 img{
    width: 50px;
  }

  .first-service,  .first-service-2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr) );
  }
 

  .first-service .info, .first-service-2 .info-2{
    /* max-height: 350px; */
    display: flex;
    flex-direction: column;
    padding: 3%;
    /* width: 50%; */
    position: relative;
  }

  .first-service .info p, .first-service-2 .info-2 p{
    margin-top: 0.7rem;
    font-weight: 200;
    color: #4f4e4e;
    line-height: 30px;
    font-size: 16px;
  }

  .first-service .info h3, .first-service-2 .info-2 h3{
    letter-spacing: 3px;
    color: #5d5858;
    font-size: 18px !important;
    font-weight: 400;
    text-transform: uppercase;
  }
  .first-service::after {
    content: '';
    position: absolute;
    background-color: #fedb00;
    color: #464646;
    left: 0;
    height: 50%;
    width: 7px;
  }
  .first-service-2::after{
    content: '';
    position: absolute;
    background-color: #fedb00;
    color: #464646;
    right: 0;
  height: 50%;
    width: 7px;
  }
.info-img,.info-img-2{
  background: url('./images/img-1.jpg');
  /* width: 50%; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: initial;

}

.info-img-2{
  background: url('./images/ig-2.jpg');
}

.find-more{
  background-color:#E8E7E2 ;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.find-more h3{
  letter-spacing: 5px;
  color: #353333;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}

.find-more p{
  text-align: center;
  width: 80%;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
}
.find-more button{
  padding: 1.5rem 8rem;
  background-color: #494A43;
  color: #fedb00;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}


  @media only screen and (max-width: 430px){
    .header_items,  .sign-in {
      display: none;
    }
   .booking{
      width: 100% !important;
      background-color: #fedb00;
      padding: 20px 10px;
    }
    .img-smll {
      display: flex !important;
      width: 100px;
      height: 50px;
      object-fit: contain;

    }
    .nav_img{
      display: none;
    }
   .header_cta_item {
    width: 100% !important;
   }
   nav {
    align-items: flex-start;
  }
  .header_cta{
    width: 70%;
  }
  .banner {
    background-attachment: initial;
    height: 250px;
   
}
.find-more{
  padding: 3rem 2rem;
}
    .about-info{
      padding: 20px 10px;
  
    }
    .about-info h3{
      font-size: 20px;
      font-weight: 500;
    }

    .about-cards{
      flex-direction: column;
      margin: 2px;
    }
   
     .first-service .info, .first-service-2 .info-2{
    text-align: center;
      width: 95%;
    
    } 
    
    .info-img,.info-img-2{
      width: 100%;
   height: 30vh;

    }

    .info::after,   .info-2::after{
      content: '';
      position: absolute;
      background-color: #fedb00;
      color: #464646;
      top: 0;
      left: 0;
      right: 0;
      height: 5px;
      width: 100%;
   ;
    }
    .first-service::after,.first-service-2::after {
      display: none;
     
    }
    .first-service .info h3, .first-service-2 .info-2 h3{
      font-size: 22px !important;
      margin-top: 1rem
     
    }
    .first-service-2 .info-img-2{
     order: 2;
     
    }
    .first-service-2 .info-2{
      order: 1;
    }

    .find-more{
      padding: 2rem ;
    }
    .find-more h3{
      font-size: 25px;
   
    } 
    .find-more p{
      width: 90%;
      font-size: 18px;
    }
    .find-more button{
      padding: 1.5rem 4rem;
      font-size: 18px;
    }
  }


  @media screen and (min-width: 600px) and (max-width: 1114px) { 
    .banner {
      background-attachment: initial;
      height: 250px;
     
  }
  .find-more{
    padding: 3rem 2rem;
  }
    .header_items,  .sign-in {
      display: none;
    }
   .booking{
      width: 100% !important;
      background-color: #fedb00;
      padding: 20px 10px;
    }
    .img-smll {
      display: flex !important;
      width: 100px;
      height: 50px;
      object-fit: contain;

    }
    .nav_img{
      display: none;
    }
   .header_cta_item {
    width: 100% !important;
   }
   nav {
    align-items: flex-start;
  }
  .header_cta{
    width: 70%;
  }
  .first-service  {
    display: grid;
    grid-template-columns: 70%  30% ;
  }

  .first-service-2{
    grid-template-columns: 30%  70%;

  }

  .first-service::after {
    content: '';
    position: absolute;
    background-color: #fedb00;
    color: #464646;
    left: 0;
    height: 38%;
    width: 7px;
  }
  .first-service-2::after{
    content: '';
    position: absolute;
    background-color: #fedb00;
    color: #464646;
    right: 0;
  height: 38%;
    width: 7px;
  }

  }


 