*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 15px;
    max-width: 1450px;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: 5rem 15rem auto 5rem;
    height: 100vh;
    position: relative;
    /* place-content: center; */
}

.sidebar{
    background-color: #FFC297;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}

.icons{
    font-size: 2rem;
    color: #FF852C;
}

.icons span{
    margin-top: 3rem;
}
.options{
    border-right: 3px solid #858585;
    
}

.profile{
    background-color: aqua;
}

.logo{
    object-fit: cover;
    border-radius: 50%;
    width: 3rem;
}

.setting-icon{
    position: absolute;
    bottom: 1.5rem;
    color: #fff;
    background-color: #FF7008;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
  
}

.setting{
    margin-bottom: 3rem;
}